<div id="<%= dom_id movie_detail %>">
  <p>
    <strong>Title:</strong>
    <%= movie_detail.title %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= movie_detail.genre %>
  </p>

  <p>
    <strong>Production year:</strong>
    <%= movie_detail.production_year %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= movie_detail.rating %>
  </p>

</div>
